.header {
  width: 100%;
  height: 64px;
  line-height: 64px;
  background-color: #ffffff;
  padding: 0 40px;
  display: flex;
  justify-content: space-between;

  .right {
    display: flex;
    margin-top: 16px;
  }
}